:root {
  --heder-list-color: #2196f3;
  --heder-text-color: #212121;
  --heder-link-color: #757575;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --smal-title-color: #212121;
  --smal-text-color: #757575;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

/* РАБОТА--В------------HEADER--------------*/

.web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--heder-list-color);
}

.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}

.header-nav-item,
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--heder-text-color);
}

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.current-link {
  color: var(--heder-list-color);
}

.header-item {
  color: var(--heder-link-color);
}

/* НАЧАЛО--В------------MAIN--------------*/

.about-list,
.prices-list,
.reasons-list,
.footer-list {
  list-style: none;
}

/* РАБОТА--В------------HERO--------------*/
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--heder-list-color);
}

/* РАБОТА--В------------ABOUT--------------*/

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--smal-title-color);
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--smal-text-color);
}

/* РАБОТА--В------------PRICES--------------*/

.prices-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* РАБОТА--В------------REASONS--------------*/

.reasons-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.reasons-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.reasons-name-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

/* РАБОТА--В------------FOOTER--------------*/

.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: inherit;

  color: rgba(255, 255, 255, 0.6);
}

.footer-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer {
  background-color: #2f303a;
}

.footer-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
  color: #ffffff;
}

.address {
  color: #ffffff;
}
